.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    gap: 5px;
}

.btn{
    grid-row: span 2;
}

.resultado {
    grid-column: span 4;
}


/* 
button {
    background-color: rgb(64, 64, 64)
    ;
    color: rgb(23, 153, 111);
    font-family: "Jetbrains Mono";
    
    border-style: ridge;
    border-color: rgb(140, 140, 140);
    border-width: 2px;
} */
